@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

div[data-rehype-pretty-code-fragment] {
  @apply space-y-0;
}

div[data-rehype-pretty-code-fragment] pre {
  @apply overflow-x-auto rounded-lg rounded-t-none border bg-background p-0 py-2;
}

div[data-rehype-pretty-code-fragment] code {
  counter-reset: line;
  @apply flex flex-col bg-background p-0;
}

div[data-rehype-pretty-code-fragment] .line::before {
  counter-increment: line;
  content: counter(line);
  @apply pr-4;
}

div[data-rehype-pretty-code-fragment] .line {
  @apply border-l-4 border-transparent px-3;
}

div[data-rehype-pretty-code-fragment] .highlighted {
  @apply border-blue-600 bg-blue-600/10;
}
