@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

div[data-rehype-pretty-code-fragment] {
  @apply space-y-0;
}

div[data-rehype-pretty-code-fragment] pre {
  @apply overflow-x-auto rounded-lg rounded-t-none border bg-background p-0 py-2;
}

div[data-rehype-pretty-code-fragment] code {
  counter-reset: line;
  @apply flex flex-col bg-background p-0;
}

div[data-rehype-pretty-code-fragment] .line::before {
  counter-increment: line;
  content: counter(line);
  @apply pr-4;
}

div[data-rehype-pretty-code-fragment] .line {
  @apply border-l-4 border-transparent px-3;
}

div[data-rehype-pretty-code-fragment] .highlighted {
  @apply border-blue-600 bg-blue-600/10;
}
