---
import { buttonVariants } from "@/components/ui/button";

import BaseLayout from "../layouts/BaseLayout.astro";
import { Github, Rss, Twitter } from "lucide-react";
// import { getCollection } from "astro:content";
// import PostsList from "../components/PostsList.astro";
// import SeriesList from "../components/SeriesList.astro";

// const posts = await getCollection("blog");

// const sortedPosts = posts
//   .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
//   .filter((post) => !post.data.planned)
//   .slice(0, 3);

// const featuredPosts = posts.filter((post) => post.data.featured);

// const featuredSeries = (await getCollection("series")).filter((s) => s.data.featured);
---

<BaseLayout>
  <div class="space-y-10">
    <div class="space-y-4">
      <h1 class="text-3xl sm:text-4xl text-black dark:text-white font-extrabold">
        Hello there! <span class="underline underline-offset-2 decoration-text">I'm Abdullah</span>
      </h1>
      <p>
        Welcome to my blog! I'm a software engineer with experience in <span class="underline"
          >OCaml</span
        >, <span class="underline">JavaScript/Typescript</span>, <span class="underline"
          >Python</span
        >, <span class="underline">ReactJS</span>, and <span class="underline">Node.js</span>. As an
        enthusiastic learner, I aim to share my journey of exploration with you. Join me as I write
        about various aspects of computer science, ranging from <span class="underline"
          >Programming Languages</span
        >, <span class="underline">AI</span>, <span class="underline">Web Development</span>, to
        <span class="underline">Theoretical CS</span>.
      </p>
      <div class="flex items-center space-x-2">
        <a
          href="https://twitter.com/abdllah_dev"
          target="_blank"
          class={buttonVariants({ variant: "outline" })}
        >
          <Twitter className="sm:mr-2 h-4 w-4" />
          <span class="hidden sm:block">Twitter</span>
        </a>
        <a
          href="https://github.com/abdllahdev"
          target="_blank"
          class={buttonVariants({ variant: "outline" })}
        >
          <Github className="sm:mr-2 h-4 w-4" />
          <span class="hidden sm:block">GitHub</span>
        </a>
        <a href="/rss.xml" target="_blank" class={buttonVariants({ variant: "outline" })}>
          <Rss className="sm:mr-2 h-4 w-4" />
          <span class="hidden sm:block">RSS</span>
        </a>
      </div>
    </div>
    <!-- {
      featuredPosts.length > 0 && (
        <div class="space-y-5">
          <h1 class="text-3xl text-black dark:text-white">Featured Posts</h1>
          <PostsList posts={featuredPosts} />
        </div>
      )
    }
    <div class="space-y-5">
      <div class="flex items-center justify-between space-x-2">
        <h1 class="text-3xl text-black dark:text-white">Latest Posts</h1>
        <a
          href="/blog"
          class="inline-flex items-center justify-center py-0.5 px-3 bg-blue-600 hover:bg-blue-800 rounded-full text-sm text-white"
          >View all</a
        >
      </div>
      <PostsList posts={sortedPosts} />
    </div>
    {
      featuredSeries.length > 0 && (
        <div class="space-y-5">
          <div class="flex items-center justify-between space-x-2">
            <h1 class="text-3xl text-black dark:text-white">Featured Series</h1>
            <a
              href="/series"
              class="inline-flex items-center justify-center py-0.5 px-3 bg-blue-600 hover:bg-blue-800 rounded-full text-sm text-white"
            >
              View all
            </a>
          </div>
          <SeriesList series={featuredSeries} />
        </div>
      )
    } -->
  </div>
</BaseLayout>
