---
import { Github, Network, Rss } from "lucide-preact";
import { buttonVariants } from "@/lib/button-utils";

const today = new Date();
---

<div class="border-t bg-background py-3">
  <footer
    class="container mx-auto flex items-center justify-between px-4 md:max-w-5xl"
  >
    <p class="text-sm">&copy; {today.getFullYear()} Abdullah Elsayed</p>
    <div class="flex items-center">
      <a
        href="https://x.com/abdllah_dev"
        target="_blank"
        class={buttonVariants({ variant: "ghost", size: "icon" })}
      >
        <svg
          class="h-3.5 w-3.5 fill-white"
          role="img"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          ><title>X</title><path
            d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932ZM17.61 20.644h2.039L6.486 3.24H4.298Z"
          ></path></svg
        >
        <span class="sr-only">X</span>
      </a>
      <a
        href="https://github.com/abdllahdev"
        target="_blank"
        class={buttonVariants({ variant: "ghost", size: "icon" })}
      >
        <Github class="h-3.5 w-3.5" />
        <span class="sr-only">Github</span>
      </a>
      <a
        href="/rss.xml"
        target="_blank"
        class={buttonVariants({ variant: "ghost", size: "icon" })}
      >
        <Rss class="h-3.5 w-3.5" />
        <span class="sr-only">RSS</span>
      </a>
      <a
        href="/sitemap-index.xml"
        target="_blank"
        class={buttonVariants({ variant: "ghost", size: "icon" })}
      >
        <Network class="h-3.5 w-3.5" />
        <span class="sr-only">Sitemap</span>
      </a>
    </div>
  </footer>
</div>
