---
import { Github, Network, Rss, Twitter } from "lucide-react";
import { buttonVariants } from "./ui/button";

const today = new Date();
---

<div class="border-t border-border py-3 bg-background">
  <footer class="container px-4 mx-auto flex justify-between items-center md:max-w-4xl">
    <p class="text-sm">&copy; {today.getFullYear()} Abdullah Elsayed</p>
    <div class="flex items-center">
      <a
        href="https://twitter.com/abdllah_dev"
        target="_blank"
        class={buttonVariants({ variant: "ghost", size: "sm" })}
      >
        <Twitter className="h-3.5 w-3.5" />
        <span class="sr-only">Twitter</span>
      </a>
      <a
        href="https://github.com/abdllahdev"
        target="_blank"
        class={buttonVariants({ variant: "ghost", size: "sm" })}
      >
        <Github className="h-3.5 w-3.5" />
        <span class="sr-only">Github</span>
      </a>
      <a href="/rss.xml" target="_blank" class={buttonVariants({ variant: "ghost", size: "sm" })}>
        <Rss className="h-3.5 w-3.5" />
        <span class="sr-only">RSS</span>
      </a>
      <a
        href="/sitemap-index.xml"
        target="_blank"
        class={buttonVariants({ variant: "ghost", size: "sm" })}
      >
        <Network className="h-3.5 w-3.5" />
        <span class="sr-only">Sitemap</span>
      </a>
    </div>
  </footer>
</div>
