<div class="space-y-2">
  <h1 class="text-lg font-bold sm:text-2xl">
    Hello there! <span class="decoration-text underline underline-offset-2"
      >I'm Abdullah</span
    >
  </h1>
  <p>
    Welcome to my blog! I'm a software engineer with experience in <span
      class="underline">OCaml</span
    >, <span class="underline">JavaScript/Typescript</span>, <span
      class="underline">Python</span
    >, <span class="underline">React</span>, and <span class="underline"
      >Node.js</span
    >. As an enthusiastic learner, I aim to share my journey of exploration with
    you. Join me as I dive into the diverse realms of Computer Science - from <span
      class="underline">Web Development</span
    > to <span class="underline">AI</span> and <span class="underline"
      >Theoretical CS</span
    >.
  </p>
</div>
