---
import { GITHUB_HANDLE, LINKEDIN_HANDLE, X_HANDLE } from "@/consts";
import { buttonVariants } from "@/lib/button-utils";
import { Github, Linkedin, Rss } from "lucide-preact";
---

<div class="space-y-2">
  <h1 class="text-lg font-bold sm:text-2xl">
    Hi 👋! <span class="decoration-text underline underline-offset-2"
      >I'm Abdullah</span
    >
  </h1>
  <p>
    Welcome to my blog! I'm a software engineer with experience in <span
      class="underline">OCaml</span
    >, <span class="underline">JavaScript/Typescript</span>, <span
      class="underline">Python</span
    >, <span class="underline">React</span>, and <span class="underline"
      >Node.js</span
    >. In this blog, I talk about anything from <span class="underline"
      >Web Development</span
    > to <span class="underline">AI</span> and <span class="underline"
      >Theoretical CS</span
    >.
  </p>
  <div class="flex space-x-1">
    <a
      href=`https://x.com/${X_HANDLE}`
      target="_blank"
      class={buttonVariants({ variant: "outline", size: "icon" })}
    >
      <svg
        class="h-3.5 w-3.5 fill-foreground"
        role="img"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        ><title>X</title><path
          d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932ZM17.61 20.644h2.039L6.486 3.24H4.298Z"
        ></path></svg
      >
      <span class="sr-only">X</span>
    </a>
    <a
      href=`https://linkedin.com/in/${LINKEDIN_HANDLE}`
      target="_blank"
      class={buttonVariants({ variant: "outline", size: "icon" })}
    >
      <Linkedin class="h-3.5 w-3.5" />
      <span class="sr-only">LinkedIn</span>
    </a>
    <a
      href=`https://github.com/${GITHUB_HANDLE}`
      target="_blank"
      class={buttonVariants({ variant: "outline", size: "icon" })}
    >
      <Github class="h-3.5 w-3.5" />
      <span class="sr-only">Github</span>
    </a>
    <a
      href="/rss.xml"
      target="_blank"
      class={buttonVariants({ variant: "outline", size: "icon" })}
    >
      <Rss class="h-3.5 w-3.5" />
      <span class="sr-only">RSS</span>
    </a>
  </div>
</div>
