---
import { ExternalLink } from "lucide-preact";
import type { CollectionEntry } from "astro:content";
import { buttonVariants } from "@/lib/button-utils";
import { cn } from "@/lib/utils";

export interface Props {
  projects: CollectionEntry<"project">[];
}

const { projects } = Astro.props;
---

<section class="space-y-4">
  <h2 class="text-2xl font-bold">Projects</h2>
  <div class="grid grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-3">
    {
      projects.map((project) => (
        <div class="flex flex-col justify-between gap-y-2 rounded-lg border bg-card p-6 text-card-foreground shadow-sm">
          <div class="flex flex-col gap-y-2">
            <div class="flex items-center justify-between">
              <h3 class="text-xl font-semibold leading-none tracking-tight">
                {project.data.title}
              </h3>
              {project.data.link && (
                <a
                  href={project.data.link}
                  target="_blank"
                  class={cn(
                    buttonVariants({ variant: "ghost" }),
                    "h-7 w-7 p-1"
                  )}
                >
                  <ExternalLink class="h-3.5 w-3.5" />
                  <span class="sr-only">Project external link</span>
                </a>
              )}
            </div>
            <p class="text-sm text-muted-foreground">
              {project.data.description}
            </p>
          </div>
          <ul class="flex flex-wrap gap-x-2 text-sm text-muted-foreground">
            {project.data.tags.map((tag: string) => (
              <li class="underline underline-offset-2">{tag}</li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</section>
