---
import { getCollection, type CollectionEntry } from "astro:content";
import { SeriesAccordion } from "@/components/series-accordion";

export interface Props {
  seriesList: CollectionEntry<"series">[];
}

const { seriesList } = Astro.props;
---

<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
  {
    seriesList.map(async (series) => {
      const posts = (await getCollection("blog"))
        .filter((post) => series.data.id === post.data.seriesId)
        .sort((a, b) => (a.data.index as number) - (b.data.index as number));
      return <SeriesAccordion series={series} posts={posts} client:idle />;
    })
  }
</section>
