---
type TableOfContent = {
  depth: number;
  text: string;
  slug: string;
  subheadings: TableOfContent[];
};

type Heading = {
  depth: number;
  slug: string;
  text: string;
};

function buildToc(headings: Heading[]): TableOfContent[] {
  const toc: TableOfContent[] = [];
  const parentHeadings = new Map();

  headings?.forEach((h) => {
    const heading = { ...h, subheadings: new Array<TableOfContent>() };
    parentHeadings.set(heading.depth, heading);

    if (heading.depth === 2) {
      toc.push(heading);
    } else {
      parentHeadings.get(heading.depth - 1).subheadings.push(heading);
    }
  });

  return toc;
}

const { headings } = Astro.props;

const toc = buildToc(headings);
---

<div class="not-prose text-foreground marker:text-muted-foreground">
  <ul class="list-outside list-disc">
    {
      toc.map((heading) => (
        <li class="ml-4">
          <a
            class="underline-offset-2 hover:underline"
            href={"#" + heading.slug}
          >
            {heading.text}
          </a>
          {heading.subheadings.length > 0 && (
            <ul class="list-outside list-disc">
              {heading.subheadings.map((subheading) => (
                <Astro.self heading={subheading} />
              ))}
            </ul>
          )}
        </li>
      ))
    }
  </ul>
</div>
