---
import "@/styles/globals.css";
import BaseHead from "@/components/base-head.astro";
import Header from "@/components/header.astro";
import Footer from "@/components/footer.astro";

export interface Props {
  title?: string;
  postData?: {
    title?: string;
    description?: string;
    pubDate?: Date;
    tags?: string[];
  };
}

const { title, postData } = Astro.props;
---

<!DOCTYPE html>
<html
  lang="en"
  class="scroll-smooth scrollbar-thin scrollbar-track-muted/30 scrollbar-thumb-muted scrollbar-track-rounded scrollbar-thumb-rounded"
>
  <head>
    <BaseHead postData={postData} title={title} />
  </head>
  <body class="flex min-h-screen flex-col space-y-10">
    <Header postTitle={postData?.title} />
    <main class="flex flex-grow justify-center">
      <slot />
    </main>
    <Footer />
  </body>
</html>
